.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column ;
}

.wrapper > :last-of-type {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

}

.list-group{
  width: 100%;
  max-width: 100%;
}



.tool-bar {
  width: 100%;
  max-width: fit-content;
  height: 200px;
  border-top-left-radius: 10px;
  background-color: #FAFAFA;
}

.chat-list{
  flex-grow: 1;
  width: 100%;
}
