


<div class="main-div d-flex justify-content-center align-items-center ">
  <div class="container shadow  app-container  col-12 rounded " style=" background-color: white;">

    <div class="container background-image " style="height: 100%; min-height: fit-content;">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h1 class="space-head">Register Account</h1>
        </div>
      </div>
      <form class="py-0 py-md-1" [formGroup]="registrationFormGroup" (ngSubmit)="submitForm()">


        <!-- first name and last name -->
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <p class="err-msg text-danger" *ngIf="errMsg || errMsg!==''">{{errMsg}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form group input-container input-field-box">
                  <input formControlName="firstname" type="text" id="name" placeholder="first name" class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('firstname')?.touched && !registrationFormGroup.get('firstname')?.valid" class="text-danger">
                    <span *ngIf="registrationFormGroup.get('firstname')?.errors?.['required']">field required</span>
                    <span *ngIf="!registrationFormGroup.get('firstname')?.errors?.['required'] && registrationFormGroup.get('firstname')?.errors?.['hasLessThan2Chars']">cannot be less than 2 chars</span>
                  </span>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form group input-container input-field-box">
                  <input formControlName="lastname" type="text" id="lastname"  placeholder="last name" class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('lastname')?.touched &&
                                          !registrationFormGroup.get('lastname')?.valid" class="text-danger">
                    <span *ngIf="registrationFormGroup.get('lastname')?.errors?.['required']">field required</span>
                    <span *ngIf="!registrationFormGroup.get('lastname')?.errors?.['required'] && registrationFormGroup.get('lastname')?.errors?.['hasLessThan2Chars']">cannot be less than 2 chars</span>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- contact No. and email -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form group input-container input-field-box">
                  <input formControlName="email" type="text" id="email" placeholder="email" class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('email')?.touched &&
                                          !registrationFormGroup.get('email')?.valid" class="text-danger">please enter valid email address</span>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form group input-container input-field-box">
                  <input formControlName="cellNumber" (input)="onInput($event)" type="text" id="contact" placeholder="contact no." class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('cellNumber')?.touched &&
                                          !registrationFormGroup.get('cellNumber')?.valid" class="text-danger">please enter valid cell number</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Password and Confirm Password -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form-group input-container input-field-box">
                  <input formControlName="password" type="password" id="password" placeholder="password" class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('password')?.touched &&
                                          !registrationFormGroup.get('password')?.valid">
                    <p [ngClass]="{'text-danger': registrationFormGroup.get('password')?.errors?.['hasNoSpecChars']}">Must contain at least 1 Special Character*</p>
                    <p [ngClass]="{'text-danger': registrationFormGroup.get('password')?.errors?.['hasLessThan8Chars']}">Must contain min 8 Characters*</p>
                    <p [ngClass]="{'text-danger': registrationFormGroup.get('password')?.errors?.['hasNoNumeric']}">Must contain at least 1 Number*</p>
                    <p [ngClass]="{'text-danger': registrationFormGroup.get('password')?.errors?.['hasNoUppercase']}">Must contain at least 1 Uppercase*</p>
                    <p [ngClass]="{'text-danger': (registrationFormGroup.get('password')?.errors?.['required']||registrationFormGroup.get('password')?.errors?.['hasNoLowercase'])}">Must contain at least 1 Lowercase*</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 justify-content-center">
              <div class="row">
                <div class="col-sm-12 form-group input-container input-field-box">
                  <input formControlName="confirmPassword" type="password" id="cpassword" placeholder="confirm password" class="form-control rounded-pill">
                  <span *ngIf="registrationFormGroup.get('confirmPassword')?.touched &&
                                          !registrationFormGroup.get('confirmPassword')?.valid" class="text-danger">
                    <span *ngIf="!registrationFormGroup.get('password')?.valid">enter valid password first</span>
                    <span *ngIf="registrationFormGroup.get('password')?.valid && registrationFormGroup.get('confirmPassword')?.errors?.['confirmPasswordMatchesNot']">password does not match</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- register-btn and login-link -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 justify-content-end"></div>
            <div class="col-12 col-md-6 justify-content-end">
              <div class="row container py-0 py-md-2 justify-content-md-end  justify-content-center">
                <div class="col-6" >
                  <div class="row">
                    <div class="form-group">
                      <button type="submit" class="btn rounded-pill register-btn btn-txt" style="min-width: fit-content;width: 100%; background-color: #365BD2;"
                       [disabled]="!registrationFormGroup.valid" >register</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row py-0 py-md-2 justify-content-md-end  justify-content-center">
                <div class="col-12 col-md-6 justify-content-center" >
                  <div class="row ">
                    <a routerLink="/login" class="login-link truncate-text">Already have an account?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>


