@media (max-width: 767px) {
    .h-md-25 {
        height: 25%;
    }

    .h-md-0 {
        height: 0%;
    }

    .h-md-100 {
        height: 100%;
    }

    .h-md-75 {
        height: 75%;
    }

    h1 {
        font-size: 50px !important;
    }


    .img-md-container {
        background-image: url('./OBJECTS.png');
        /* Replace with the path to your image */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        min-height: fit-content;
        width: 100%;
    }




}

h1 {
    font-size: 70px;
}


.img-container {
    background-image: url('./OBJECTS.png');
    /* Replace with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: fit-content;
    max-height: 100%;
    border-right: 1px solid #F6F6F6;
    border-radius: 5px;
}



@media (min-width:933px) {
    input {
        padding-left: 40px !important;
        min-height: 40px !important;
    }
}

.input-field{
  display: flex;
  background-color: #EEEEEE;
  /*max-width: 290px;*/
  border: 0;
  min-height: 40px;
  align-items: center;
  justify-content: end;
  border-radius: 25px;
}

input:focus{
  outline: none;
}

input{
  flex-grow:1 ;
  border: 0px;
  padding-left: 10px !important;
  background: transparent;
}

.pwd-icon{
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  margin-right: 10px;
}


.login-link {
    font-size: medium;
    text-align: center;
    color: #FF0000;
    font-family: 'Kanit Thin';
    margin-bottom: 20px;

}

h1{
  color: #365BD2;
  font-family: Kanit, sans-serif;
  text-align: center;
}

.input-field-focused {
  border: 2px solid #365BD2 !important;
  box-shadow: 0px 0px 0px 4px rgba(54, 91, 210, 0.20)
}

