<div class="main-div d-flex justify-content-center align-items-center ">
  <div class="container shadow  app-container  col-12 rounded " style=" background-color: white;">


    <div class="row h-100 ">
      <div class="col-12 col-md-6 h-md-0 img-container">

      </div>
      <div class="col-12 col-md-6 h-md-100 justify-content-center " style="min-height: fit-content;" >

        <!-- login heading -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center ">
            <div class="container py-5" style="height: 100%; min-height: fit-content;">
              <h1 class="space-head">Login</h1>

            </div>
          </div>

        </div>
        <p class="text-center text-danger" *ngIf="((msg ||msg!=='') && formSubmitted&&!loginFormGroup.touched)">{{msg}}</p>
        <form [formGroup]="loginFormGroup" (ngSubmit)="submitForm()" >
          <div class="row d-flex justify-content-center mb-2">

            <div class="col-sm-8 d-flex flex-column p-0">
              <div [ngClass]="{'input-field-focused':usernameDivOnFocus}" id="usernameField" class=" input-container input-field p-0">
                <input class="ms-2" formControlName="username" (focus)="divOnFocusOrBlur('username',true)" (blur)="divOnFocusOrBlur('username',false)" type="text" placeholder="username">
              </div>
              <p class="m-0 text-danger" *ngIf="(btnClicked && loginFormGroup.get('username')?.touched && loginFormGroup.get('username')?.invalid) ||(btnClicked && loginFormGroup.get('username')?.invalid)">Filled required</p>
            </div>

          </div>

          <div class="row d-flex justify-content-center mb-1">

            <div class="col-sm-8  d-flex flex-column p-0">

              <div class="input-container input-field p-0 " [ngClass]="{'input-field-focused':passwordDivOnFocus}" id="passwordField">
                <input class="ms-2" formControlName="password" (focus)="divOnFocusOrBlur('password',true)" (blur)="divOnFocusOrBlur('password',false)"  [type]="passwordType" placeholder="password">
                <span class="pwd-icon" [ngStyle]="{'background-image': 'url(' + activeToggleImg + ')'}" (click)="passwordToggle()"></span>
              </div>

              <p class="m-0 text-danger" *ngIf="(btnClicked && loginFormGroup.get('password')?.touched &&loginFormGroup.get('password')?.invalid) ||(btnClicked && loginFormGroup.get('password')?.invalid)">Filled required</p>
              <div class=" login-link d-flex input-container justify-content-end input-field-box">
                forgot password?
              </div>

            </div>
          </div>

          <div class="row justify-content-center ">
            <div class="col-sm-9 input-container  input-field-box">
              <div class="row justify-content-center">
                <button type="submit" class="btn rounded-pill register-btn" style="min-width: fit-content;width:40%; background-color: #365BD2;">login</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="row container justify-content-center py-5 " style="height: 100%; min-height: fit-content;">
              <a class="btn rounded-pill new-account-btn"
                 style="min-width: fit-content;width:40%;"
                 routerLink="/register">Register New Account?</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
