<div class="main-div ">
  <div class="mini-div rounded shadow-lg ">
    <h1>Email & Cell number Verification</h1>
    <p>Check the email and SMS verification code sent to the email address  ***97@gmail.com and cell number 07* *** **03 </p>
    <form>
      <div class="row  mt-4">
        <div class="col-md-6 col-12 form-row">
          <input type="text" class="form-control" name="" id="" placeholder="email code">
        </div>
        <div class="col-md-6 col-12 form-row form-group input-container input-field-box">
          <input type="text" class="form-control rounded" name="" id="" placeholder="cellNo. code">
        </div>
      </div>

      <div class="row mt-4" >
        <div class="col-md-6 col-12"></div>
        <div class="col-md-6 col-12 form-row" >
          <div class="btn-row">
            <button class="btn rounded register-btn" style="min-width: fit-content; background-color: #365BD2;">Confirm</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
