<div class="wrapper">
  <div class="row">
    <div class="col-6">
      <img src="./assets/app-logo.png"  class="mx-3 my-2">
    </div>
    <div class="col-6">
      <div class="top-left mx-3 my-2">
        <div class="dropdown" (click)="toggleDropdown()">
          <button class="link  dropbtn" >
            <div class="profile-icon " style="background-image: url('./assets/profile-icon-125.png');">
              <span>B</span>
            </div>
          </button>
          <div class="dropdown-content" *ngIf="isDropdownOpen">
            <button (click)="hello1()" >View Profile</button>
            <button (click)="hello2()">Logout</button>
          </div>
        </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 search-bar">
      <button class=" shadow-sm" (click)="hello()">
        <div class="search-input">
          <p>search geeks</p>
          <img src="assets/search-icon.svg" alt="">
        </div>
      </button>
    </div>
  </div>
</div>
