.main-div {
    background-color: #467CFB;
    width: 100%;
    height: 100%;
}


@media (max-width: 576px) {
    .app-container {
        max-width: 90%;
        max-height: 90%;
        height: 70%;
    }
}

@media (min-width: 576px) {
    .app-container {
        max-width: 60%;
        max-height: 90%;
         height: 70%;
    }
}