<div class="wrapper">

  <div *ngFor="let a of messages">

    <div class="sent-flex" *ngIf="a.senderId!==activeChatGeekId" >
      <div class="msg sender" >
        <p>{{a.message}}</p>
        <div class="time time-sent" >
          <p>{{formatTime(a.status?.sendDate)}} </p>
          <div class="tick"  [appSentMessageStatus]="a.status"></div>
        </div>
      </div>

      <!--      <img src="assets/sent-msg-panel.png" alt="" class="img-responsive">-->
    </div>


    <div class="received-flex"  *ngIf="a.senderId===activeChatGeekId" >

      <div class="msg receiver" >
        <p>{{a.message}}</p>
        <div class="time time-received">
          <p>{{formatTime(a.status?.sendDate)}}</p>

        </div>
      </div>


      <!--      <img src="assets/received-msg-panel.png" alt="" class="img-responsive">-->
    </div>






  </div>

</div>
