<div class="wrapper">

  <div *ngFor="let a of messages">

    <div class="sent-flex" *ngIf="a.senderId!==username" >
      <div class="msg sender" >
        {{a.message}}
      </div>

      <!--      <img src="assets/sent-msg-panel.png" alt="" class="img-responsive">-->
    </div>


    <div class="received-flex"  *ngIf="a.senderId===username" >

      <div class="msg receiver" >
        {{a.message}}
      </div>


      <!--      <img src="assets/received-msg-panel.png" alt="" class="img-responsive">-->
    </div>






  </div>

</div>
