<div class="wrapper">

  <div *ngFor="let a of messages">

    <div class="sent-flex" *ngIf="a.senderId!==activeChatGeek" >
      <div class="msg sender" >
        <p>{{a.message}}</p>
        <div class="time time-sent" >
          <p>{{formatTime(a.sendDate)}} </p>
          <div class="tick" *ngIf="msgStatus===1" style="background-image: url('assets/sent-icon.svg')"></div>
          <div class="tick" *ngIf="msgStatus===2" style="background-image: url('assets/received-icon.svg')"></div>
          <div class="tick" *ngIf="msgStatus===3" style="background-image: url('assets/read-icon.svg')"></div>
        </div>
      </div>

      <!--      <img src="assets/sent-msg-panel.png" alt="" class="img-responsive">-->
    </div>


    <div class="received-flex"  *ngIf="a.senderId===activeChatGeek" >

      <div class="msg receiver" >
        <p>{{a.message}}</p>
        <div class="time time-received">
          <p>{{formatTime(a.sendDate)}}</p>

        </div>
      </div>


      <!--      <img src="assets/received-msg-panel.png" alt="" class="img-responsive">-->
    </div>






  </div>

</div>
