<div class="wrapper">
  <a href="#" class="list-group-item clearfix">
    <div class="row pt-2" >
      <div class="col-3 ">
        <div class="center-flex">
          <img src="assets/profile-icon-180.png" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <h5 class="list-group-item-heading">bheki97</h5>
            <p class="list-group-item-text">sipho: Hello bheki....</p>
          </div>
          <div class="col-4">
            <div>
              <p class="time">10:40 PM</p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </a>
</div>


