<div class="wrapper">
  <button  class="list-group-item btn clearfix">
    <div class="row pt-2" >
      <div class="col-3 ">
        <div class="center-flex">
          <div class="profile-icon" [style.background-color]="profileColor">
            <span>{{returnInitial()}}</span>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <h5 class="list-group-item-heading">{{receiverName}}</h5>
            <p class="list-group-item-text">{{lastMsgSender}}: {{lastMsg}}</p>
          </div>
          <div class="col-4">
            <div>
              <p class="time">10:40 PM</p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </button>
</div>


