<div>
  <a href="#" class="list-group-item clearfix">
    <div class="row mt-2" >
      <div class="col-3 ">
        <div class="center-flex">
          <img src="assets/profile-icon-180.png" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-6">
        <h4 class="list-group-item-heading">bheki97</h4>
        <p class="list-group-item-text">sipho: Hello bheki....</p>
      </div>
      <div class="col-3">
        <div>
          <p>10:40 PM</p>
        </div>
      </div>
    </div>
  </a>
</div>

