<div class="backdrop" (click)="closeModal()"></div>

<div class="alert-box">
  <div class="close-box">
<!--    <img src="assets/close-icon.svg" alt="" class="close-icon">-->
    <button class="btn close-icon" (click)="closeModal()" style="background-image: url('assets/close-icon.svg')"></button>
  </div>
  <form>

  <div class="content-box">
    <div class="profile-btn-row">
      <div class="profile-icon-div">
        <div class="profile-icon" [style.background-color]="color">
          <span>{{geek?(geek.username?geek.username.charAt(0).toUpperCase():'G'):'G'}}</span>
        </div>
      </div>
      <div class="btn-div">
        <button class="btn update-btn">update</button>
        <button class="btn reset-btn">password reset</button>
      </div>

    </div>
    <div class="profile-details-row">
      <div class="name-email-div">
        <h2>{{geek?.firstname}} {{geek?.lastname}} - </h2>
        <div class="email-div">
          <span>{{geek?.email}}</span>
        </div>
      </div>
      <div class="date-div">
        <span>Joined on the {{geek?.registrationDate|fullDate}}</span>
      </div>
    </div>
    <div class="edit-profile-row">
      <div class="hr-div">
        <div class="edit-heading">
          <span>edit Profile</span>
        </div>
        <hr>
      </div>
      <div class="edit-input-div">
        <div class="input-div">

          <div class="input-wrapper">
            <div class="input-container">
              <input type="text" id="firstname" value="{{geek?.firstname}}" placeholder=" ">
              <label for="firstname">first name</label>
            </div>
          </div>

        </div>
        <div class="input-div">
          <div class="input-wrapper">
            <div class="input-container">
              <input type="text" id="lastname"  value="{{geek?.lastname}}" placeholder=" ">
              <label for="lastname">last name</label>
            </div>
          </div>
        </div>

        <div class="input-div">
          <div class="input-wrapper">
            <div class="input-container">
              <input id="cellNo" type="text"  value="{{geek?.cellNumber}}" placeholder="">
              <label for="cellNo">contact number</label>
            </div>

          </div>
        </div>
        <div class="input-div">
          <div class="input-wrapper">
            <div class="input-container">
              <input id="username" type="text"  value="{{geek?.username}}" placeholder="">
              <label for="username">username</label>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
  </form>

</div>

