<div class="backdrop" (click)="closeModal()"></div>

<div class="alert-box">
  <div class="close-box">
<!--    <img src="assets/close-icon.svg" alt="" class="close-icon">-->
    <button class="btn close-icon" (click)="closeModal()" style="background-image: url('assets/close-icon.svg')"></button>
  </div>
  <div class="content-box">
    <div class="profile-btn-row">
      <div class="profile-icon-div">
        <div class="profile-icon">
          <span>B</span>
        </div>
      </div>
      <div class="btn-div">
        <button class="btn update-btn">update</button>
        <button class="btn reset-btn">password reset</button>
      </div>

    </div>
    <div class="profile-details-row">
      <div class="name-email-div">
        <h2>Bheki Mautjana - </h2>
        <div class="email-div">
          <span>bfmokoena7@gmail.com</span>
        </div>
      </div>
      <div class="date-div">
        <span>Joined on the 3rd June 2023</span>
      </div>
    </div>
    <div class="edit-profile-row">
      <div class="hr-div">
        <div class="edit-heading">
          <span>edit Profile</span>
        </div>
        <hr>
      </div>
      <div class="edit-input-div">
        <div class="input-div">

          <div class="input-wrapper">
            <div class="input-container">
              <input type="text" id="firstname" placeholder=" ">
              <label for="firstname">first name</label>
            </div>
          </div>

        </div>
        <div class="input-div">
          <div class="input-wrapper">
            <div class="input-container">
              <input type="text" id="lastname" placeholder=" ">
              <label for="lastname">last name</label>
            </div>
          </div>
        </div>

        <div class="input-div">
          <div class="input-wrapper">
            <div class="input-container">
              <input id="cellNo" type="text" placeholder="">
              <label for="cellNo">contact number</label>
            </div>

          </div>
        </div>
      </div>


    </div>

  </div>

</div>

