.wrapper{
  height: 100%;
  width: 100%;
}
.vert-cent-flex{
  flex-direction: row;
  align-items: center;
}
h5,p{
  margin: 0;
  padding: 0;
}

.center-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-responsive{
  height: 50px;
  width: 50px;

  max-height: 80px;
}
