<div class="wrapper">

  <div class="profile-div">
    <div class="center-flex">
      <div class="profile-icon" [style.background-color]="profileColor">
        <span>{{returnInitial()}}</span>
      </div>
    </div>
  </div>
  <div class="user-name">
    <div>
      <h4>{{activeChatGeek}}</h4>
    </div>

  </div>




</div>



<!--<div class="row">-->
<!--  <div class="col-2">-->
<!--    <div class="center-flex">-->
<!--      <img src="assets/profile-icon-180.png" alt="" class="img-responsive">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-10">-->
<!--    <div class="row vert-cent-flex">-->
<!--      <div class="col-12">-->
<!--        <h5>bheki97</h5>-->
<!--        <p class="">sipho: Hello bheki....</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
