<div class="wrapper">

  <div class="backdrop"  (click)="closeModal()"></div>
  <div class="alert-box">
    <div class="row">
      <div class="col-12">
        <h1>Logging out</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3>Are you sure?</h3>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="btn close-btn" (click)="closeModal()">close</button>
      <button class="btn sure-btn" (click)="logout()">Yes I'm Sure</button>
    </div>

<!--    <div class="row">-->
<!--      <div class="col-6">-->
<!--        <button class="btn">close</button>-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <button class="btn">Yes I'm sure</button>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</div>
