<div class="container background-image py-0 py-md-5" style="height: 100%; min-height: fit-content;">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Register Account</h1>
          </div>
    </div>
    <form class="py-0 py-md-4">


        <!-- first name and last name -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form group input-container input-field-box">
                            <input type="text" id="name" placeholder="first name" class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form group input-container input-field-box">
                            <input type="text" id="lastname" placeholder="last name" class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- contact No. and email -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form group input-container input-field-box">
                            <input type="text" id="email" placeholder="email" class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form group input-container input-field-box">
                            <input type="text" id="contact" placeholder="contact no." class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- contact No. and email -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form-group input-container input-field-box">
                            <input type="password" id="password" placeholder="password" class="form-control rounded-pill">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 justify-content-center">
                    <div class="row">
                        <div class="col-sm-12 form-group input-group input-container input-field-box ">
                            <input type="password" id="cpassword" placeholder="confirm password" class="form-control rounded-pill">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- register-btn and login-link -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 justify-content-end"></div>
                <div class="col-12 col-md-6 justify-content-end">
                    <div class="row container py-0 py-md-2 justify-content-md-end  justify-content-center">
                        <div class="col-6" >
                            <div class="row">
                                <div class="form-group">
                                    <button class="btn rounded-pill register-btn btn-txt" style="min-width: fit-content;width: 100%; background-color: #365BD2;">register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-0 py-md-2 justify-content-md-end  justify-content-center">
                        <div class="col-12 col-md-6 justify-content-center" >
                            <div class="row ">
                              <a routerLink="/login" class="login-link truncate-text">Already have an account?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
